.thank-you {
    margin: 60px 0px;
}

.custom-text-color {
    color: #9A49F6;
}

.success-icon {
    background-image: url("../../../assets/success-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    height: 300px;
    cursor: pointer;
    /* border: 2px dashed #0f68ff; */
    border-radius: 6px;
    margin-bottom: 25px;
    background-position: center 28px;
}