<div class="row justify-content-center">
    <div class="col-md-4 register-user">
      <!-- form card register -->
      <div class="text-center">
        <p class="fs-1 btn-custom-text-color">Sign Up</p>
        <p class="fs-6">Fill in the form with correct informations</p>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="inputName">User Name</label>
            <input class="form-control btn-custom-radius" type="text" formControlName="name" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['name'].errors?.['required']"
            >
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input class="form-control btn-custom-radius" type="text" formControlName="email" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['email'].errors?.['required']"
            >
              Enter your email.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['email'].errors?.['pattern']"
            >
              Enter valid email.
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputVerify3">Mobile No</label>
            <input
              class="form-control btn-custom-radius"
              type="text"
              formControlName="phoneNumber"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['phoneNumber'].errors?.['required']"
            >
              Enter your phone number.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['phoneNumber'].errors?.['pattern']"
            >
              Enter Numbers Only
            </div>
          </div>

          <div class="form-group">
            <label for="inputVerify3">Card Number</label>
            <input
              class="form-control btn-custom-radius"
              type="text"
              formControlName="cardNumber"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['cardNumber'].errors?.['required']"
            >
              Enter your card number.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['cardNumber'].errors?.['pattern']"
            >
              Enter Numbers Only
            </div>
          </div>
          
          <app-drag-drop></app-drag-drop>

          <div class="form-group">
            <button class="btn btn-custom-primary btn-custom-radius" type="submit">
              Create account
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>