<div class="row justify-content-center">
    <div class="col-md-4 register-user">
      <!-- form card register -->
      <div class="text-center">
        <p class="fs-2 custom-text-color">Sign Up</p>
        <p class="fs-6">Fill in the form with correct informations</p>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input class="form-control custom-input btn-custom-radius" type="text" formControlName="name" placeholder="User Name" required/>
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="
                !myForm['name'].errors?.['pattern'] 
                && myForm['name'].invalid 
                && (myForm['name'].dirty || myForm['name'].touched)
                && myForm['name'].errors?.['required']
              "
            >
              User name is required.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="myForm['name'].errors?.['pattern']"
            >
              User name should be alphabet only.
            </div>
          </div>

          <div class="form-group">
            <input
              class="form-control custom-input btn-custom-radius"
              type="text"
              formControlName="phoneNumber"
              placeholder="Phone Number"
              required
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="
                !myForm['phoneNumber'].errors?.['pattern']
                && myForm['phoneNumber'] 
                && (myForm['phoneNumber'].dirty || myForm['phoneNumber'].touched)
                && myForm['phoneNumber'].errors?.['required']
              "
            >
              Phone number is required.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="myForm['phoneNumber'].errors?.['pattern']"
            >
              User name should be number only.
            </div>
          </div>

          <div class="form-group">
            <input class="form-control custom-input btn-custom-radius" type="text" formControlName="email" placeholder="Email" required/>
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="myForm['email']&& myForm['email'].errors?.['pattern']"
            >
              Enter valid email.
            </div>
          </div>
          
          <div class="form-group">
            <input
              class="form-control custom-input btn-custom-radius"
              type="text"
              formControlName="cardNumber"
              placeholder="Card Number"
              required
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="myForm['cardNumber'].errors?.['required']"
            >
              Enter your card number.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="myForm['cardNumber'].errors?.['pattern']"
            >
              Enter Numbers Only
            </div>
          </div>
          
          <app-drag-drop></app-drag-drop>

          <!-- check box -->
          <div class="d-flex">
            <div class="round">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"></label>
            </div>

          <p style="padding-left: 20px;">Agree Terms and Condition</p>
          </div>
          <div class="form-group d-grid gap-2 text-center">
            <button class="btn btn-custom-primary btn-custom-radius" type="submit">
              Create account
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>